# Node
node_modules/
.env
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/ 